
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

@{
    ViewBag.Message = "Leading Company in The World";
}

@{ 
    ViewBag.ListTitle = "Products";
    ViewBag.Items = new List<string>() { "Mobiles", "Electronics", "Home Applications" };
    Html.RenderPartial("ListPartialView");
}

@section SideBarOptions
{
    <a href="#" class="list-group-item text-white"
       style="background-color: transparent;">About Company</a>
    <a href="#" class="list-group-item text-white"
       style="background-color: transparent;">About Founders</a>
    <a href="#" class="list-group-item text-white"
       style="background-color: transparent;">About Team</a>
}